#build
*.project
Default/*
Debug/*
build/*
third_party/v8
third_party/dlib
third_party/node
third_party/skia
third_party/skiacommon

# VC
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# complied objects
*.exe
*.dll
*.lib

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
